@model GestionTareas.Models.Comentario
@{
    ViewData["Title"] = "Editar Comentario";
}
<h1>Editar Proyecto</h1>

<div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label class="form-label">Comentario</label>
            <input type="text" class="form-control" asp-for="Contenido" />
            <div>
                <span asp-validation-for="Contenido"></span>
            </div>
            <label class="form-label">Fecha Creación</label>
            <input type="text" class="form-control datepicker" asp-for="FechaCreacion" value="@DateTime.Now.ToString("dd-MM-yyyy")" />
            <div>
                <span asp-validation-for="FechaCreacion"></span>
            </div>
            <label class="form-label">Usuario</label>
            <select class="form-control" asp-for="IdUsuario" asp-items="ViewBag.IdUsuario"></select>

            <label class="form-label">Tarea</label>
            <select class="form-control" asp-for="IdTarea" asp-items="ViewBag.IdTarea"></select>
             
        </div>
        <div class="mt-3 text-end">
            <a asp-action="Index" class="btn btn-outline-info">Volver</a>
            <input type="submit" value="Editar" class="btn btn-outline-success" />
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd-mm-yy'
            });
        });
    </script>
}
